body{
	background-color: #ebf9fb;
	font-family: "Arial";
}
#header {
	background-color: #45dbfc;
	color: white;
	font-size: 200%;
	font-weight: bold;
}
#content{
	background-color: #45dbfc;
	padding: 10px;
	height: 400px;
}
#navigation{
	background-color: #ebf9fb;
	text-align: left;
	width: 150px;
	padding: 10px;
	float: left;
}
#main{
	background-color: #ebf9fb;
	text-align: left;
	width: 1250px;
	padding: 10px;
	float: right;
}
#footer{
	background-color: white;
}