body{
	background-color: grey;
}
#page{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	width: 1400px;
}
#header {
	background-color: blue;
	color: white;
}
#content{
	background-color: black;
	padding: 10px;
	height: 600px;
}
#navigation{
	background-color: red;
	text-align: left;
	width: 400px;
	float: left;
}
#main{
	background-color: yellow;
	text-align: right;
	width: 800px;
	float: right;
}
#footer{
	background-color: white;
}